body > .container {
    padding-top: 5rem;
}
form {
    padding-top: 10px;
}
.dashboard{ 
    margin: 20px;
    padding: 25px 25px;
    background-color: rgba(215, 215, 215, 0.8) !important;
}
.controlbox{
    padding-top: 25px;
    font-size: 15pt;
}
.subcheck{
    margin-left: 2em;
}
.plot_title{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}
#new_plot > svg {
    width: 75% !important;
    height: auto !important;
}

#new_plot > canvas {
    width: 75% !important;
    height: auto !important;
}
